# Logs
logs/

# Dependency directories
node_modules/

# Compiled CSS files
public/stylesheets/**/*.css

# Generated API documentation
doc/
docs/

# MacOS stuff
**/.DS_Store

# Node Package Manager
package-lock.json

# Git
**/*.orig

# JetBrains
.idea/

# Source Maps & Minified (Trapspiled) files
public/javascripts/authenticated.js.map
public/javascripts/authenticated.min.js
public/javascripts/lib.js.map
public/javascripts/lib.min.js
public/javascripts/module/edit.js.map
public/javascripts/module/edit.min.js
public/javascripts/module/learn.js.map
public/javascripts/module/learn.min.js
public/javascripts/module/view.js.map
public/javascripts/module/view.min.js
public/javascripts/notAuthenticated.js.map
public/javascripts/notAuthenticated.min.js
public/javascripts/scripts.js.map
public/javascripts/scripts.min.js
public/javascripts/user/register.js.map
public/javascripts/user/register.min.js
public/javascripts/user/search.js.map
public/javascripts/user/search.min.js
public/javascripts/user/settings.js.map
public/javascripts/user/settings.min.js
public/stylesheets/bulma.css.map
public/stylesheets/style.css.map
