<section class="hero" style="margin-top: 50px;">
  <div class="hero-body">
    <div class="container is-widescreen" style="padding: 0 5vw;">
      <div class="columns is-variable is-1">
        <div class="column is-two-thirds">
          <h1 class="title is-1">Oops !</h1>
          <h2 class="title is-4" style="max-width: 700px;">Our robot can't find the page you're looking for, please try
            something else</h2>
          <br>
          <div class="subtitle is-4">Error {{error.status}} {{error.code}}</div>
          <p style="font-size: 20px; margin: 20px 0;">
            {{error.message}}
          </p>
          <br>
          <div class="field is-grouped">
            <p class="control">
              <a href="/" class="button is-link has-text-white">
                <i class="fas fa-home"></i>
                Home
              </a>
            </p>
            <p class="control">
              <a href="/about" class="button is-light">
                <i class="fas fa-envelope"></i>
                Contact Us
              </a>
            </p>
          </div>
        </div>
        <div class="column is-hidden-mobile">
          <img src="/images/sadLogo.png" alt="Logo" style="max-width: 300px; position: relative; bottom: 60px;">
        </div>
      </div>
    </div>
  </div>
</section>
