<p>
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="" class="navbar-item">
        <h1 class="title is-4">LOGO</h1>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item">
                    Home
                </a>
        <a href="" class="navbar-item">
                    Info
                </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="" class="navbar-link">
                        Learn
                    </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
                            Modules
                        </a>
            <a class="navbar-item">
                            Content Creators
                        </a>
            <a class="navbar-item">
                            Quizzes
                        </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                            Create your own
                        </a>
          </div>

        </div>
      </div>
    </div>

    <form action="" method='post'>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input name="email" class="input is-success is-small" id="email" type="text" placeholder="email">
            <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
          </div>
        </div>
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input name="password" class="input is-success is-small" id="password" type="password" placeholder="password">
            <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
          </div>
        </div>
        <div class="navbar-item">
          <input type="submit" id="loginBtn" value="Login" class="button is-primary is-small">
        </div>
      </div>

    </form>
  </nav>
  <section class="hero is-fullheight is-primary is-bold">
    </div>
    <div class="hero-head">

    </div>
    <div class="hero-body">
      <div class="container is-widescreen">
        <div class="columns">
          <div class="column is-half">
            <h1 class="title is-1">Welcome</h1>
            <p>WEBSITE NAME is all about learning together freely! As a user on this website,
              you are able to see and learn from lessons and modules posted by other users.
              Register, and you will be able to upload content of your own for other users
              to learn from. Content creators can invite users to subscribe to their modules
              and be able to receive feedback and take a module test which, if completed successfully,
              will reward them with an online certificate for that module. <br><br> Thank you
              for visiting, enjoy your learning.

            </p>
          </div>
          <div class="column is-half">
            <article class="message">
              <div class="message-header">Don't have an account?</div>
              <div class="message-body">
                <h1 class="title is-4 has-text-primary">Register!</h1>
                <div class="field">
                  <label class="label">First Name</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="e.g. Amy">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Surname</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="e.g. Adams">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="example@email.com">
                    <span class="icon is-small is-left">
                                          <i class="fa fa-envelope"></i>
                                      </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Confirm Email</label>
                  <div class="control has-icons-left">
                    <input class="input" type="text" placeholder="example@email.com">
                    <span class="icon is-small is-left">
                                          <i class="fa fa-envelope"></i>
                                      </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password">
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Confirm Password</label>
                  <div class="control has-icons-left">
                    <input class="input" type="password">
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                  </div>
                </div>
                <div class="control">
                  <button class="button is-primary">Submit</button>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
</p>

<script>
  document.querySelector('#loginBtn').onclick = (event) => {

    // don't send the HTML form
    event.preventDefault();

    fetch(`/api/user/login`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        email: document.getElementById('email').innerText,
        password: document.getElementById('password').innerText
      }),

      // HTTP response
    }).then(response => {
      console.log('reponse:');
      console.log(response);
      // if it goes wrong
      // error codes 400..499 and 500..599 are client and server errors
      if (response.status >= 400) {
        // force it to jump to reject
        return Promise.reject(response.json());
      } else {
        return response.json();
      }

      // JSON object which you can now use to make an error message
    }).then(json => {
      console.log('json:');
      alert(json.msg);
    }).catch(errorCatch => {
      console.log('error catch:');
      console.log(errorCatch);
      return errorCatch.then(e => alert(e.msg || e.message || e.toString()));
    })
  }

</script>
