<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <!--Must be loaded synchronously, defines functions to be called later-->
  {{#if isProduction}}
    <script src="/javascripts/polyfill.min.js"></script>
    <script src="/javascripts/fetch.js"></script>
    <script src="/javascripts/object-polyfill.js"></script>
  {{/if}}
  <script src="/javascripts/lib.js"></script>
</head>

<body>

{{#unless error}}
  {{#if loggedIn}}
    {{>navbar/authenticated}}
  {{else}}
    {{>navbar/notAuthenticated}}
  {{/if}}
{{/unless}}

<div style="min-height: 68vh;">
  {{{body}}}
</div>

{{#unless error}}
  <footer class="footer has-background-white" style="width: 70%; margin: 50px auto;">
    <hr/>
    <div class="content has-text-centered">
      <p><a href="/about">About Us</a></p>
    </div>
  </footer>
{{/unless}}

<div id="popup-msg" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card has-background-white is-rounded" style="padding: 50px;">
      <h3 class="title has-text-centered" id="popup-msg-info">Loading</h3>
      <p class="has-text-centered subtitle"><i class="fas fa-hourglass-half" style="margin-right: 7px;"></i>Wait</p>
    </div>
  </div>
</div>

<script async src="/javascripts/{{#if loggedIn}}authenticated{{else}}notAuthenticated{{/if}}.js"></script>

</body>

</html>
