<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bulma.css"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <!--Must be loaded synchronously, defines functions to be called later-->
  <script src="/javascripts/lib.js"></script>
</head>

<body>

{{#unless error}}
  {{#if loggedIn}}
    {{>navbar/authenticated}}
  {{else}}
    {{>navbar/notAuthenticated}}
  {{/if}}
{{/unless}}

<div  style="min-height: 68vh;">
  {{{body}}}
</div>

{{#unless error}}
  <footer class="footer">
    <div class="content has-text-centered">
      <p><a href="/about">About Us</a></p>
    </div>
  </footer>
{{/unless}}

<script async src="/javascripts/scripts.js"></script>
<script async src="/javascripts/{{#if loggedIn}}authenticated{{else}}notAuthenticated{{/if}}.js"></script>

</body>

</html>
