<section class="hero is-primary is-bold">
    <div class="hero-head">
        <br>
        <div class="container">
            <h1 class="title is-1"><i class="fas fa-user"></i><span id="user-email-msg">{{loggedIn.email}}</span></h1>
        </div>
    </div>


    <div class="hero-body">
        <div class="container">
            <h1 class="title is-4">Here are the modules you created:</h1>
        </div>
        <div class="container">
            <div style="
                overflow:auto;
                font-family:sans-serif;
                padding:10px;">
                
            </div>
        </div>
        <div class="container">
            <h1 class="title is-4">Here are the modules you enrolled in:</h1>
        </div>


    </div>
</section>

<script>
    const el = document.getElementById("user-email-msg");
    if (el.innerText !== '') {
        const regex = /(.*)@(.*)/;
        const result = regex.exec(el.innerText);
        if (result !== null) el.innerText = result[1];
    }
</script>