<section class="hero is-primary is-bold">
  <div class="hero-head">
    <br>
    <div class="container">
      <h1 class="title is-1">
        <i class="fas fa-user"></i>
        {{#if loggedIn.firstName}}
          <span>{{loggedIn.firstName}}</span>
        {{else}}
          <span id="user-greeting">{{loggedIn.email}}</span>
          <script>
            (function () {
              const el = document.getElementById("user-greeting");
              const regex = /(.*)@(.*)/;
              const result = regex.exec(el.innerText);
              if (result !== null) el.innerText = result[1];
            })();
          </script>
        {{/if}}
      </h1>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-4">Created Modules</h1>
    </div>
    <div class="container">
      <div style="overflow:auto; font-family:sans-serif; padding:10px;"> </div>
    </div>
    <div class="container">
      <h1 class="title is-4">Enrollments</h1>
    </div>
  </div>
</section>
