

<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="/images/logo.jpg"  width="40" height="40" alt="Logo">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="" class="navbar-item">
                Home
            </a>
                <div class="navbar-item has-dropdown is-hoverable">
                      <a href="" class="navbar-link">
                        Teach
                      </a>
                    <div class="navbar-dropdown">
                       <a class="navbar-item">
                           Create Lessons and Modules from existing subjects
                       </a>
                       <a class="navbar-item">
                           Create Quizzes
                       </a>
                       <a class="navbar-item">
                           Invite Students
                       </a>
                       <hr class="navbar-divider">
                       <a class="navbar-item">
                           Create your own subject
                      </a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                       <a href="" class="navbar-link">
                           Learn
                       </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Learn Lessons and Modules
                        </a>
                        <a class="navbar-item">
                            Take Quizzes
                        </a>
                    </div>
                </div>
                        <a href="" class="navbar-item">
                             About Us
                        </a>
              </div>
        </div>
        <div class="navbar-end">
                <a href="" class="navbar-item">
                    Hi {{email}} !
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a href="" class="navbar-link">
                        Account Overview
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Profile
                        </a>
                        <a class="navbar-item">
                            Settings
                        </a>
                        <a class="navbar-item">
                            Help
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Log out
                        </a>
                    </div>
                </div>
          </div>
     </nav>

<section class="hero">

    <div class="hero-head"></div>

      <div class="hero-body">
        <div class="container is-widescreen">
          <div class="columns">
                  






          <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">First name:</label>
                </div>
               <div class="field-body">
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" placeholder="e.g.: John">
                   <span class="icon is-left">
                    <i class="fas fa-envelope"></i>
                   </span>
                </div>
              </div>
       </div>



 <div class="field is-horizontal">
              <div class="field-label">
                  <label class="label">Last name:</label>
              </div>
              
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" placeholder="e.g.: Smith">
                   <span class="icon is-left">
                    <i class="fas fa-envelope"></i>
                   </span>
              </div>
       </div>






        <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Email:</label>
           </div>
               <div class="field-body is-grouped is-grouped-centered">
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="email" placeholder="e.g.: johnsmith@gmail.com">
                   <span class="icon is-left">
                    <i class="fas fa-envelope"></i>
                   </span>
                </div>
              </div>
       </div>



<div class="field is-horizontal">
  <div class="field-label">
    
  </div>

<div class="field-body is-grouped is-grouped-centered">
                  <p class="control">
                   <a class="button is-link is-rounded">
                     Submit
                   </a>
                  </p>
                  <p class="control">
                   <a class="button is-light is-rounded">
                     Cancel
                   </a>
                 </p>

</div>  
 
</div>



       
    </div>
</div>
</div>
</section>
