<header>
  <nav class="navbar has-background-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <span class="has-text-weight-bold has-text-white" style="margin-right: 10px;">{{title}}</span>
        <img src="/images/logo.png" width="30" height="30" alt="Logo">
      </a>
      <a role="button" class="navbar-burger burger has-background-grey" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" onclick="document.querySelector(`.navbar-menu[class*='is-active']`) ? hideMenu() : showMenu()">
        <span aria-hidden="true" class="has-background-grey-lighter"></span>
        <span aria-hidden="true" class="has-background-grey-lighter"></span>
        <span aria-hidden="true" class="has-background-grey-lighter"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="/user/home" id="layout-btn-user-home" class="navbar-item">
          Home
        </a>

        <a class="navbar-item" href="/about">
          About
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="fas fa-search" style="margin-right: 7px;"></i>
            Search
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              <i class="fas fa-users"></i>
              Users
            </a>
            <a href="/module/search" class="navbar-item">
              <i class="fas fa-university"></i>
              Modules
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/help">
              <i class="fas fa-question"></i>
              <span>Help</span>
            </a>
            <a id="navbar-auth-btn-log-out" class="button">
              Log Out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<!--<style>-->
  <!--.has-background-dark .button, .has-background-dark .navbar-item, .has-background-dark .navbar-link {-->
    <!--color: white;-->
  <!--}-->
<!--</style>-->

<script>
  document.querySelectorAll('.navbar-item, .navbar-link').forEach(el => el.classList.add('has-text-white'));
  document.querySelectorAll('.navbar .has-dropdown .navbar-item').forEach(el => el.classList.add('has-background-light'));
  document.querySelectorAll('.navbar .has-dropdown .navbar-item').forEach(el => el.classList.add('has-text-black'));
  function showMenu() {
    const menu = document.querySelector('.navbar-menu');
    menu.classList.add('is-active');
    menu.classList.add('has-text-white');
    document.querySelectorAll('.navbar-item, .navbar-link').forEach(el => el.classList.remove('has-text-white'));
    document.querySelectorAll('.navbar-item, .navbar-link').forEach(el => el.classList.add('has-text-black'));
  }
  function hideMenu() {
    const menu = document.querySelector('.navbar-menu');
    menu.classList.remove('is-active');
    menu.classList.remove('has-text-white');
    menu.classList.add('has-text-black');
    document.querySelectorAll('.navbar-item, .navbar-link').forEach(el => el.classList.add('has-text-white'));
    document.querySelectorAll('.navbar-item, .navbar-link').forEach(el => el.classList.remove('has-text-black'));
  }
</script>

<script src="/javascripts/authenticated.js" async></script>
