<nav class="has-background-grey-lighter"
     style="padding: 10px 13vw; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: center;">
    <a href="/" class="navbar-item has-background-grey-lighter is-hidden-desktop" style="display: block;">
      <img src="/images/logo.png" width="30" height="30" alt="Logo">
    </a>
    <div class="title is-6 navbar-item is-paddingless is-marginless is-block is-hidden-tablet-only is-hidden-mobile" style="margin-right: 15px !important;">
      {{title}}
    </div>
    <a href="/user/home" id="layout-btn-user-home" class="button" style="margin-left: 5px;">
      <i class="fas fa-home"></i>
      Home
    </a>
    <div class="navbar-item has-dropdown is-hoverable is-hidden-tablet-only is-hidden-mobile" style="margin-left: 5px;">
      <a class="button">
        <i class="fas fa-search"></i>
        Search
      </a>
      <div class="navbar-dropdown">
        <a href="/module/search" class="navbar-item">
          <i class="fas fa-university"></i>
          Modules
        </a>
        <a href="/user/search" class="navbar-item">
          <i class="fas fa-users"></i>
          Users
        </a>
      </div>
    </div>
    <a href="/user/home" class="button is-hidden-desktop" style="margin-left: 5px;">
      <i class="fas fa-search"></i>
      Modules
    </a>
    <a href="/about" class="button" style="margin-left: 5px;">About Us</a>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: center;">
    <a href="/help" class="button" style="margin-right: 5px;">
      <i class="fas fa-question"></i>
      Help
    </a>
    <a id="navbar-auth-btn-log-out" class="button">
      <i class="fas fa-sign-out-alt"></i>
      Log out
    </a>
  </div>
</nav>
