<header>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-paddingless"
         style="padding-left: 10px !important; padding-right: 10px !important;"
         href="/">
        <span class="has-text-weight-bold" style="font-size: 2rem !important; margin-right: 15px;">{{title}}</span>
        <img src="/images/logo.png" height="30" alt="Logo">
      </a>
      <a role="button"
         class="navbar-burger burger has-background-grey"
         aria-label="menu"
         aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a href="/user/register" id="layout-btn-user-home" class="navbar-item">
          Home
        </a>

        <a class="navbar-item" href="/about">
          About
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="fas fa-search" style="margin-right: 7px;"></i>
            Search
          </a>

          <div class="navbar-dropdown">
            <a href="/user/search" class="navbar-item">
              <i class="fas fa-users"></i>
              Users
            </a>
            <a href="/module/search" class="navbar-item">
              <i class="fas fa-university"></i>
              Modules
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input type="email" name="email" id="layout-input-email" class="input"
                   placeholder="email" autocomplete="on" maxlength="255" pattern=".{2,}@.{2,}\..{2,}"
                   required>
            <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
          </div>
        </div>
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input type="password" name="password" id="layout-input-password" class="input"
                   placeholder="password" pattern=".{6,}" required>
            <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
          </div>
        </div>
        <div class="navbar-item">
          <input type="submit" value="Log In" id="layout-btn-log-in" class="button is-warning" style="opacity: 1;">
          <a href="/user/register"
             id="layout-btn-register-redirect"
             class="button is-link"
             style="margin-left: 10px;">
            Register
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
