<nav class="has-background-grey-lighter"
     style="padding: 10px 13vw; display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
  <div
      style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: center;">
    <a href="/" class="navbar-item has-background-grey-lighter is-hidden-desktop" style="display: block;">
      <img src="/images/logo.png" width="30" height="30" alt="Logo">
    </a>
    <div class="title is-6 navbar-item is-paddingless is-marginless is-block is-hidden-tablet-only is-hidden-mobile"
         style="margin-right: 15px !important;">
      {{title}}
    </div>
    <a href="/user/home" id="layout-btn-user-home" class="button" style="margin-left: 5px;">Home</a>
    <div class="navbar-item has-dropdown is-hoverable is-hidden-tablet-only is-hidden-mobile">
      <a class="button" style="margin-left: 5px;">Search</a>
      <div class="navbar-dropdown">
        <a href="/module/search" class="navbar-item">Modules</a>
        <a href="/user/search" class="navbar-item">Users</a>
      </div>
    </div>
    <a href="/user/home" class="button is-hidden-desktop" style="margin-left: 5px;">Search Modules</a>
    <a href="/about" class="button" style="margin-left: 5px;">About Us</a>
  </div>
  <div
      style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap; align-items: center;">
    <form action="" class="has-background-grey-lighter">
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input type="email" name="email" id="layout-input-email" class="input is-success is-small"
                   placeholder="email" autocomplete="on" maxlength="255" pattern=".{2,}@.{2,}\..{2,}"
                   required>
            <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
          </div>
        </div>
        <div class="navbar-item">
          <div class="control has-icons-left">
            <input type="password" name="password" id="layout-input-password" class="input is-success is-small"
                   placeholder="password" pattern=".{6,}" required>
            <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
          </div>
        </div>
        <div class="navbar-item">
          <input type="submit" value="Log In" id="layout-btn-log-in" class="button is-success is-small">
          <a href="/user/register"
             id="layout-btn-register-redirect"
             class="button is-link is-small"
             style="margin-left: 10px;">
            Register
          </a>
        </div>
      </div>
    </form>
  </div>
</nav>
<script async src="/javascripts/notAuthenticated.js"></script>
