<h2 class="title">Authentication (logging in)</h2>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    In order to log in you must have an account. If you do not, please see the
    <a href="./registration">registration section</a> of the manual.
  </div>
</article>

<p>
  If you are not logged in you should be able to see a navbar on the
  top of the page with two input fields. The first input field is for
  your email and the second is for your password.  To log in you should
  enter your credentials and press the <code>Log In</code> button on
  the right once finished. This will verify your credentials and if they
  are correct you will be logged in and redirected to your home page.
</p>
