<h2 class="title">
  Creating, Modifying and Deleting Content (modules & lessons)
</h2>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    In order to log in you must have an account. If you do not, please see the
    <a href="./registration">registration section</a> of the manual.
    You must also be logged in. If you struggling, please see the
    <a href="./authentication">authentication section</a> of this manual.
  </div>
</article>

<p>
  Creating and modifying content is one of the main features of our
  platform. As a user you can create content and upload it to our
  website so that other users can learn from it.
  <br>
  The content creation dashboard is available from your home page
  on pressing the <code>My Content</code> button. The dashboard has
  been designed with user experience in mind to work like a desktop
  application. You do not need to reload the page to create, modify or
  delete modules and lessons.
  <br>
</p>

<h3 class="subtitle">Modules</h3>

<p>
  Before you create a lesson you must first have a module to store the
  lesson in.
</p>

<h4 class="subsection-title">Creating</h4>

<p>
  To create a new module press the <code>+ Module</code> button below the
  "Modules" heading. This will append a new module to the list below the
  heading. Next, press on the module name (which should be "unnamed").
  You will be presented with the details of the module. Initially,
  it will be unnamed and it will not have a topic or a summary.
</p>

<h4 class="subsection-title">Modifying</h4>

<p>
  To add a name click on the input field below the "Name" heading. You
  will be able to enter a new name. You can also choose a topic for
  the module. You can choose a topic from a drop-down below the "Name"
  section. To change the summary of the module enter a description
  of what the module covers in the large text box below the "Summary"
  heading. Once you are satisfied press <code>Save</code> to apply
  changes.
</p>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    The changes you made will persist <em>only</em> when you save them.
  </div>
</article>

<h4 class="subsection-title">Deleting</h4>

<p>
  There are two ways to delete a module.
  You can either press on the red cross on the right of every module name or
  you can press the <code>Delete</code> button on the bottom of module edit page
  (you can press on the module name to activate a module edit page).
  <br>
  You will be asked to confirm that you really want to delete the module.
  If you confirm the module along with all lessons associated with it will be
  deleted. <strong>This is an irreversible action</strong>.
</p>

<h3 class="subtitle">Lessons</h3>

<p> Lessons are pieces of content inside of modules.</p>

<h4 class="subsection-title">Creating</h4>

<p>
  Before you create a new lesson make sure you have a module to create
  that lesson in.
  <br>
  Press on the <code>+ Lesson</code> button below the "Lessons" heading.
  This will append a new lesson to the list below the heading. Next,
  press on the lesson name (which should be "unnamed"). You will be
  presented with the details of the lesson. Initially, it will be unnamed
  and it will not a content, attachments or a summary.
</p>

<h4 class="subsection-title">Modifying</h4>

<p>
  To modify a lesson's name enter a new (or replace existing) name into
  the text box below the "Name" heading. If you'd like to change the
  summary you can do that by changing the content of the large text
  box below the "Summary" heading.
  <br>
  Uploading files requires some more explaining. We accept lesson
  content in the form of an <code>HTML</code> file. The file must not
  contain a <code>head</code> tag. It must only include the content of
  the <code>body</code> tag.
  <br>
  To upload the file press on the "choose file" button below the
  "Content" heading. Your browser should display a file picker which you
  can use to select the lesson file. Once you have uploaded a lesson file
  you may download it by clicking on the <code>Download</code> button.
  <br>
  The lessons you create may be interactive and may include images,
  audio and video. Because of that, you have the option to upload
  attachments along with the lesson file.
</p>

<p> Images need to be in one of the following formats: </p>

<ul style="list-style-type: disc;">
  <li><code>JPEG</code></li>
  <li><code>PNG</code></li>
  <li><code>GIF</code></li>
</ul>

<p>
  Audio files need to be in the <code>MP3</code> format.
</p>

<p>
  Videos need to be in either in the <code>MP4</code> or <code>MPG</code>
  formats.
</p>

<p>
  Once you are satisfied with the changes to the lesson you can click
  on the <code>Save</code> button to commit the changes.
</p>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    As in the case of modules, the changes you made will
    persist <em>only</em> when you save them.
  </div>
</article>

<p>
  Once you have uploaded some attachments you will be able to see their
  names along with a <code>Download</code> button on the right. Pressing
  on the button will cause that attachment to be downloaded.
</p>

<h4 class="subsection-title">Deleting</h4>

<p>
  Just as in the case of modules there are two ways to delete a
  lesson. You can press on the red cross on the right of a lesson's name
  or you can press on the <code>Delete</code> button on the bottom of
  a lesson edit page.
</p>

