<h2 class="title">Registration (creating account)</h2>

<p>
  Before a new user can use use our services she must first register
  i.e. create a new account.
  <br>
  When you initially try to view the website's content you are
  presented with registration form which you can fill in.  To proceed
  with registration, enter your personal details such as first name,
  last name and email into the form.  Note that at the very least you
  must provide an email which you will use as a username and password.
  <br>
  The form will require that you enter the password twice and will give
  you feedback on whether both passwords match by changing the background
  colour of the input box when you begin typing the second password.
  Green background means that passwords match whereas red means they do
  not.  Note that the password might be rejected if it is too short. This
  is a security measure that we have adopted for the benefit of users.
  <br>
  When you have finished filling in the registration form, press the
  <code>Submit</code> button. This will log you in and redirect you to
  your home page.
</p>


