<h2 class="title">Profile Settings (changing personal details)</h2>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    In order to log in you must have an account. If you do not, please
    see the <a href="./registration">registration section</a> of the manual.
    You must also be logged in. If you struggling, please see the
    <a href="./authentication">authentication section</a> of this manual.
  </div>
</article>

<p>
  Sometimes you may wish to change some of your profile details. E.g. after
  changing your main email address you might wish to update it in {{title}}.
  Users can do that by navigating to the user settings page. Click on the
  <code>Settings</code> button on your home page. You will be presented with
  a form containing your current personal details. If you wish to modify or add
  to them, type text into the text boxes.
  <br>
  Once you are satisfied with the changes you've made press the
  <code>Save</code> button on the bottom of the page.
</p>

<article class="message is-warning">
  <div class="message-header">
    <p>Warning</p>
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
    The changes you made will persist <em>only</em> when you save them.
  </div>
</article>
