<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Account Settings</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to manage your personal details</p>
        <p style="margin-top: 10px;">After you log in, the Home page will be displayed. (See Figure 3)</p>
        <br>
        <figure>
          <img src="/images/manual/Homepage.png" alt="Home page" style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 3 - Home page</b></figcaption>
        </figure>
        <br>
        <p style="margin: 5px;">To access your own account's details, select the button labelled <img src="/images/manual/Settings-button.png" alt="Settings button" style="width:13%;margin-bottom:-7px;"> as in the image above.</p>
        <p style="margin: 10px 5px 5px;">After selecting this button a form like the one shown below will appear. All your personal details will be displayed on this form.</p>
        <br>
        <figure>
          <img src="/images/manual/Settings.png" alt="Settings page" style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 4 - Settings page</b></figcaption>
        </figure>
        <br>
        <p style="margin: 10px;">To make changes to your account's details, simply delete the old information on the form and enter the new information.</p>
        <p style="margin: 10px;">To save your changes, scroll to the bottom and select the button labelled <img src="/images/manual/Save-button.png" alt="Save button" style="width:7%;margin-bottom:-7px;">. This will save any changes that have been made.</p>
        <p style="margin: 10px;">To disregard the changes made, select the <img src="/images/manual/Undo-button.png" alt="Undo button" style="width:7%;margin-bottom:-7px;"> button at the bottom on the form.</p>
        <br>
      </div>
    </div>
  </div>
</section>
