<section class="hero">
  <div class="hero-body" style="margin-left: 13.5vw;">

    <div class="field">
      <h1 class="title" style="margin-bottom: 10px;">Rating</h1>
      <div class="control">
        <a class="button is-light">
          <span class="icon is-large">
            <i class="fas fa-star"></i>
          </span>
        </a>
        <a class="button is-light">
          <span class="icon is-large">
            <i class="fas fa-star"></i>
          </span>
        </a>
        <a class="button is-light">
          <span class="icon is-large">
            <i class="fas fa-star"></i>
          </span>
        </a>
        <a class="button is-light">
          <span class="icon is-large">
            <i class="fas fa-star"></i>
          </span>
        </a>
        <a class="button is-light">
          <span class="icon is-large">
            <i class="fas fa-star"></i>
          </span>
        </a>
      </div>
    </div>

    <div class="field">
      <h2 class="title" style="margin-bottom: 10px;">Comment (optional)</h2>
      <textarea id="lesson-content"
                style="width: 50%; word-wrap: break-word; padding: 20px; border: 1px #808080 dashed; margin-bottom: 20px;"></textarea>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <a class="button is-primary">Submit</a>
      </p>
      <p class="control">
        <a class="button is-light">Cancel</a>
      </p>
    </div>
  </div>
</section>
