<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Create and edit</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to create, edit
                                                          or delete a module, a lesson or a quiz.</p>
        <br>
        <h2 class="title is-5 has-text-black">Create, Edit or Delete a Module</h2>
        <p style="margin-bottom: 5px; margin-top: -10px;">Creating and modifying content is one of the main features of
                                                          our platform. As a user you can create content and upload it
                                                          to our website so that other users can learn
                                                          from it. (See Figure 9)</p>
        <br>
        <figure>
          <img src="/images/manual/Module-Create.png"
               alt="Module create section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 9 - Module section</strong></figcaption>
        </figure>
        <br>
        <strong>Create:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px; margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select the button labelled
          <img src="/images/manual/Module-button.png"
               alt="Module button"
               style="width:95px;margin-bottom:-13px;">
                                                    under the <strong>Module</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the newly created module named <strong>'unnamed#[number]'</strong>.</p>
        <p style="margin: 8px;"><strong>4.</strong> Under the section titled <strong>Name</strong>, enter the name you would like
                                                    to give to your module.</p>
        <p style="margin: 8px;"><strong>5.</strong> Under the section titled <strong>Topic</strong>, select the topic of your
                                                    module in the drop down menu.</p>
        <p style="margin: 8px;"><strong>6.</strong> Under the section title <strong>Summary</strong>, enter the summary of your
                                                    module.</p>
        <p style="margin: 8px;"><strong>7.</strong> At the bottom of the module, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button</p>
        <br>
        <strong>Edit:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select the module you would like to edit, under the <strong>Module</strong>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Modify the content of your module, under the sections
          <strong>Name</strong>,<strong>Topic</strong>
                                                    or <strong>Summary</strong>.</p>
        <p style="margin: 8px;"><strong>4.</strong> At the bottom of the module, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button to save your changes.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">If the topic of the module you created is not in the list provided, scroll down
                                       until the option <strong>'Other:'</strong> appears. Type your topic and press Enter.
              </li>
              <li style="margin: 8px;">You <strong>must</strong> save the modifications you made on the module page
                                       before creating a lesson and/or a quiz. Your progress will be lost without saving
                                       your changes.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <strong>Delete:</strong>
        <p style="margin-bottom: 5px; margin-top: 20px;">After you have created a module, you can delete it. (See
                                                         Figure 9)</p>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select the module you would like to delete under the <strong>Modules</strong>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the <img src="/images/manual/Delete-button.png"
                                                                    alt="Delete button"
                                                                    style="width:85px;margin-bottom:-13px;"> button at
                                                    the bottom of the module's page.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p>By deleting a module, you will delete the lessons and quiz of this module.</p>
          </div>
        </article>
        <br>

        <h3 class="title is-5 has-text-black" style="margin-top: 40px;">Create, Edit or Delete a Lesson</h3>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have created a module, you may create a lesson for
                                                          this subject. (See Figure 10)</p>
        <br>
        <figure>
          <img src="/images/manual/Lesson-Create.png"
               alt="Lesson create section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 10 - Lesson section</strong></figcaption>
        </figure>
        <br>
        <strong>Create:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After creating a module, select the button labelled
          <img src="/images/manual/Lesson-button.png"
               alt="Lesson button" style="width:95px;margin-bottom:-13px;"> under the <strong>Lessons</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the newly created lesson named <strong>'unnamed#[number]'</strong>.</p>
        <p style="margin: 8px;"><strong>4.</strong> Under the section titled <strong>Name</strong>, enter the name you would like
                                                    to give to your lesson.</p>
        <p style="margin: 8px;"><strong>5.</strong> Under the section title <strong>Summary</strong>, enter the summary of your
                                                    lesson.</p>
        <p style="margin: 8px;"><strong>6.</strong> Under the section title <strong>Content</strong>, upload the HTML file with
                                                    the material of your lesson.</p>
        <p style="margin: 8px;"><strong>7. (optional)</strong> Under the section title <strong>Attachments</strong>, upload a
                                                               file or files that can help your lesson.</p>
        <p style="margin: 8px;"><strong>8.</strong> At the bottom of the lesson, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button</p>
        <br>
        <strong>Edit:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the lesson you would like to
                                                    edit, under the <strong>Lessons</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Modify your lesson, by making changes to the sections <strong>Name</strong>
                                                    or <strong>Summary</strong>.</p>
        <p style="margin: 8px;"><strong>3.</strong> Modify the content of your lesson by: downloading the HTML file
                                                    under the <strong>Content</strong> section, make modifications to it, and
                                                    re-upload it <strong>OR</strong> re-upload another HTML
                                                    file in the <strong>Content</strong> section.</p>
        <p style="margin: 8px;"><strong>4.</strong> Modify the attachments of your lesson by: downloading the files
                                                    under the <strong>Attachments</strong> section, make modifications to it, and
                                                    re-upload it <strong>OR</strong> re-upload other
                                                    files in the <strong>Attachments</strong> section.</p>
        <p style="margin: 8px;"><strong>5.</strong> At the bottom of the lesson, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button to save your changes.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">{{title}} <strong>only</strong> accepts HTML files for the lesson's content.</li>
              <li style="margin: 8px;">In the lesson's content, <strong>only</strong> include the content between the
                <img src="/images/manual/Body-tag.png"
                     alt="Body tag image" style="width:55px;margin-bottom:-7px;"> tag of the HTML file.
              </li>
              <li style="margin: 8px;">In lesson's content, <strong>only one</strong> HTML file will be accepted.</li>
              <li style="margin: 8px;">In lesson's attachments, <strong>only</strong> upload files which are in the following
                                       file extensions: <strong>Images(.jpg, .jpeg, .png, .gif)</strong>, <strong>Audio (.mp3)</strong> or
                <strong>Video (.mp4, .mpg)</strong></li>
              <li style="margin: 8px;">You <strong>must</strong> save the modifications you made on the module page
                                       before creating a lesson and/or a quiz. Your progress will be lost without saving
                                       your changes.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <strong>Delete:</strong>
        <p style="margin-bottom: 5px; margin-top: 20px;">After you have created a lesson, you can delete it. (See
                                                         Figure 10)</p>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the lesson you would like to
                                                    delete under the <strong>Lessons</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the <img src="/images/manual/Delete-button.png"
                                                                    alt="Delete button"
                                                                    style="width:85px;margin-bottom:-13px;"> button at
                                                    the bottom of the lesson's page.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p style="margin: 8px 8px 10px;">You cannot delete all lessons directly. You have to delete each
                                             lesson manually.</p>
          </div>
        </article>
        <br>
        <h4 class="title is-5 has-text-black" style="margin-top: 40px;">Create, Edit or Delete a Quiz</h4>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have created a module, you may create a quiz for
                                                          this subject. (See Figure 11)</p>
        <br>
        <figure>
          <img src="/images/manual/Quiz-Create.png"
               alt="Quiz create section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 11 - Quiz section</strong></figcaption>
        </figure>
        <br>
        <strong>Create:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After creating a module, select the button labelled
          <img src="/images/manual/Question-button.png"
               alt="Question button" style="width:95px;margin-bottom:-13px;"> under the <strong>Quiz</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the newly created question named <strong>'unnamed#[number]'</strong>.
        </p>
        <p style="margin: 8px;"><strong>4.</strong> Under the section titled <strong>Question</strong>, enter the question you
                                                    would like to ask in the text area provided.</p>
        <p style="margin: 8px;"><strong>5.</strong> Under the section titled <strong>Correct Answer</strong>, enter the correct
                                                    answer of the question.</p>
        <p style="margin: 8px;"><strong>6.</strong> Under the section title <strong>Other Answers</strong>, enter other answers
                                                    which are not correct. </p>
        <p style="margin: 8px;"><strong>7.</strong> At the bottom of the question, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button</p>
        <p style="margin: 8px;"><strong>8.</strong> Under the panel <strong>Quiz</strong>, select the button
          <img src="/images/manual/Question-button.png"
               alt="Question button" style="width:95px;margin-bottom:-13px;"> to add more questions to the quiz. (This
                                                    feature is optional. A quiz may have one question or more). </p>
        <br>
        <strong>Edit:</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the question you would like to
                                                    edit, under the <strong>Quiz</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Modify the content of your question, under the sections
          <strong>Question</strong>,<strong>Correct
                             Answer</strong> or <strong>Other Answers</strong>.</p>
        <p style="margin: 8px;"><strong>4.</strong> At the bottom of the question, select the
          <img src="/images/manual/Save-button-2.png"
               alt="Save button for ratings" style="width:85px;margin-bottom:-13px;"> button to save your changes.</p>
        <br>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">There is only one correct answer per question. A question cannot have two or
                                       more right answers.
              </li>
              <li style="margin: 8px;">You have a minimum of 3 answers and a maximum of 6 answers per question
                                       (including the correct answer). Each question cannot have less than 3 answers, or
                                       more than 6 answers
                                       in total.
              </li>
              <li style="margin: 8px;">You <strong>must</strong> save the modifications you made on the module page
                                       before creating a lesson and/or a quiz. Your progress will be lost without saving
                                       your changes.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <strong>Delete:</strong>
        <p style="margin-bottom: 5px; margin-top: 20px;">After you have created a quiz, you can delete it. (See Figure
                                                         c)</p>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png"
               alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the question you would like to
                                                    delete under the <strong>Quiz</strong> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the <img src="/images/manual/Delete-button.png"
                                                                    alt="Delete button"
                                                                    style="width:85px;margin-bottom:-13px;"> button at
                                                    the bottom of the question's page.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p style="margin: 8px 8px 10px;">You cannot delete the whole quiz directly. You have to delete
                                             each question manually.</p>
          </div>
        </article>
        <br>
      </div>
    </div>
  </div>
</section>
