<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Create and edit</h1>
        <h2 class="title is-5 has-text-black">Create or Edit a Module</h2>
        <p style="margin-bottom: 5px; margin-top: -10px;">You may create your own content with modules, lessosn and
                                                          quizzes. (See Figure a)</p>
        <br>
        <figure>
          <img src="" alt="Module section" style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure a - Module section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png" alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the
                                                    middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After creating a module, select the button labelled
          <img src="/images/manual/Question-button.png" alt="Question button" style="width:95px;margin-bottom:-13px;"> under
                                                    the <b>Quiz</b> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the newly created question named <b>'unnamed#[number]'</b>.
        </p>
        <p style="margin: 8px;"><strong>4.</strong> Under the section titled <b>Question</b>, enter the question you
                                                    would like to ask in the text area provided.</p>
        <p style="margin: 8px;"><strong>5.</strong> Under the section titled <b>Correct Answer</b>, enter the correct
                                                    answer of the question.</p>
        <p style="margin: 8px;"><strong>6.</strong> Under the section title <b>Other Answers</b>, enter other answers
                                                    which are not correct. </p>
        <p style="margin: 8px;"><strong>7.</strong> At the bottom of the question, select the
          <img src="/images/manual/Save-button-2.png" alt="Save button for ratings" style="width:85px;margin-bottom:-13px;">
                                                    button</p>
        <p style="margin: 8px;"><strong>8.</strong> Under the panel <b>Quiz</b>, select the button
          <img src="/images/manual/Question-button.png" alt="Question button" style="width:95px;margin-bottom:-13px;"> to add
                                                    more questions to the quiz. (This feature is optional. A quiz may
                                                    have one question or more). </p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">There is only one correct answer per question. A question cannot have two or more
                                       right answers.
              </li>
              <li style="margin: 8px;">You have a minimum of 3 answers and a maximum of 6 answers per question
                                       (including the correct answer). Each question cannot have less than 3 answers, or
                                       more than 6 answers in total.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <h3 class="title is-5 has-text-black">Delete a Module</h3>
        <h4 class="title is-5 has-text-black">Create or Edit a Lesson</h4>
        <h5 class="title is-5 has-text-black">Delete a Lesson</h5>
        <h6 class="title is-5 has-text-black">Create or Edit a Quiz</h6>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have created a module, you may create a quiz for
                                                          this subject. (See Figure c)</p>
        <br>
        <figure>
          <img src="" alt="Quiz section" style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure c - Quiz section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png" alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the
                                                    middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After creating a module, select the button labelled
          <img src="/images/manual/Question-button.png" alt="Question button" style="width:95px;margin-bottom:-13px;"> under
                                                    the <b>Quiz</b> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the newly created question named <b>'unnamed#[number]'</b>.
        </p>
        <p style="margin: 8px;"><strong>4.</strong> Under the section titled <b>Question</b>, enter the question you
                                                    would like to ask in the text area provided.</p>
        <p style="margin: 8px;"><strong>5.</strong> Under the section titled <b>Correct Answer</b>, enter the correct
                                                    answer of the question.</p>
        <p style="margin: 8px;"><strong>6.</strong> Under the section title <b>Other Answers</b>, enter other answers
                                                    which are not correct. </p>
        <p style="margin: 8px;"><strong>7.</strong> At the bottom of the question, select the
          <img src="/images/manual/Save-button-2.png" alt="Save button for ratings" style="width:85px;margin-bottom:-13px;">
                                                    button</p>
        <p style="margin: 8px;"><strong>8.</strong> Under the panel <b>Quiz</b>, select the button
          <img src="/images/manual/Question-button.png" alt="Question button" style="width:95px;margin-bottom:-13px;"> to add
                                                    more questions to the quiz. (This feature is optional. A quiz may
                                                    have one question or more). </p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">There is only one correct answer per question. A question cannot have two or more
                                       right answers.
              </li>
              <li style="margin: 8px;">You have a minimum of 3 answers and a maximum of 6 answers per question
                                       (including the correct answer). Each question cannot have less than 3 answers, or
                                       more than 6 answers in total.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <h6 class="title is-5 has-text-black">Delete a Quiz</h6>
        <p style="margin-bottom: 5px; margin-top: 20px;">After you have created a quiz, you can delete it. You may
                                                         either the first method or the second method to delete a quiz.
                                                         (See Figure c)</p>
        <br>
        <p style="margin: 8px;"><strong>First method:</strong></p>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png" alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the
                                                    middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the question you would like to
                                                    delete under the <b>Quiz</b> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the <img src="/images/manual/Delete-button-2.png"
                                                                    alt="Delete button"
                                                                    style="width:40px;margin-bottom:-13px;"> button next
                                                    to the question name.</p>
        <p style="margin: 30px 8px 8px;"><strong>Second method:</strong></p>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Content-button.png" alt="My Content button" style="width:130px;margin-bottom:-7px;"> in the
                                                    middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the question you would like to
                                                    delete under the <b>Quiz</b> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Select the <img src="/images/manual/Delete-button.png"
                                                                    alt="Delete button"
                                                                    style="width:85px;margin-bottom:-13px;"> button at
                                                    the bottom of the question's page.</p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p style="margin: 8px 8px 10px;">You cannot delete the whole quiz directly. You have to delete
                                             each question manually.</p>
          </div>
        </article>
        <br>
      </div>
    </div>
  </div>
</section>
