<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Getting Started</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to register or
                                                          authenticate</p>
        <br>
        <h2 class="title is-5 has-text-black">Registration</h2>
        <p>To be able to access the services provided by FreeLearn, new users must register in our system (i.e. Create
           an account)</p>
        <br>
        <p>When you first run the system a dashboard like the one displayed below should appear. You can register by
           entering your personal details in the register form on the right-hand side of the dashboard. (See Figure
           1)</p>
        <br>
        <figure>
          <img src="/images/manual/Registration.png"
               alt="Registration dashboard"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 1 - Registration dashboard</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1. (optional)</strong> Enter your <b>First Name</b> and your <b>Last Name</b>
        </p>
        <p style="margin: 8px;"><strong>2.</strong> Enter your <b>Email</b> and <b>Confirm your Email</b></p>
        <p style="margin: 8px;"><strong>3.</strong> Enter your <b>Password</b> and <b>Confirm your Password</b></p>
        <p style="margin: 8px;"><strong>4.</strong> When you have finished filling in the registration form, select the
          <img src="/images/manual/Submit-button.png" alt="Submit button" style="width:7%;margin-bottom:-7px;"> button.
                                                    This
                                                    will log you in and redirect you to your home page</p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">The form will require that you enter the password twice and will give you
                                       feedback on whether both passwords match by changing the background colour of the
                                       input box when you begin typing the second password
              </li>
              <li style="margin: 8px;">Green background means that passwords match whereas red means they do not</li>
              <li style="margin: 8px 8px 30px;">The password might be rejected by the system if it is too
                                                short
              </li>
            </ul>
          </div>
        </article>
        <br>
        <h3 class="title is-5 has-text-black">Authentication</h3>
        <p style="margin: 8px;">After registration, users can login to their accounts on Freelearn. The navigation bar
                                is situated at the top of the registration page. (See Figure 2)</p>
        <br>
        <figure>
          <img src="/images/manual/navbar.png"
               alt="Navigation bar"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 2 - Navigation bar</b></figcaption>
        </figure>
        <p style="margin: 8px;"><strong>1.</strong> Enter your <b>Email</b></p>
        <p style="margin: 8px;"><strong>2.</strong> Enter your <b>Password</b></p>
        <p style="margin: 8px;"><strong>3.</strong> Select the button labelled
          <img src="/images/manual/LogIn-button.png"
               alt="Log In button"
               style="width:7%;margin-bottom:-7px;">
                                                    to login to the system</p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body">
            <ul style="list-style-type:disc;color:black;line-height:1.75;">
              <li style="margin: 8px;">You must have an account before being able to login. If you do not, please see
                                       the <strong class="has-text-danger">registration</strong> section of the manual.
              </li>
              <li style="margin: 8px 8px 30px;">If you are experiencing difficulties to login, please look
                                                into our <strong class="has-text-danger">FAQ</strong> section
              </li>
            </ul>
          </div>
        </article>
        <br>
      </div>
    </div>
  </div>
</section>
