<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">View</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to view the
                                                          modules you have enrolled in, including its lessons and its
                                                          modules.</p>
        <br>
        <h2 class="title is-5 has-text-black">View a Module</h2>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have enrolled in a module, you may can access the
                                                          information about this module. (See Figure 12)</p>
        <br>
        <figure>
          <img src="/images/manual/Module-View.png"
               alt="View the Module Section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 12 - View the Module Section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png"
               alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select a module you would like to access, under the
          <b class="has-text-black">Modules</b>
                                                    panel. You will then be able to see the module's information.</p>
        <br>
        <h3 class="title is-5 has-text-black">View a Lesson</h3>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have enrolled in a module, you may can access the
                                                          lessons of this module. (See Figure 13)</p>
        <br>
        <figure>
          <img src="/images/manual/Lesson-View.png"
               alt="View the Lesson Section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 13 - View the Lesson Section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png"
               alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the lesson you would like to
                                                    access, under the <b>Lessons</b> panel. You will then be able to
                                                    read the content of the module's lessons.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p style="margin: 8px 8px 10px;">You can <b>only</b> access a lesson when you are <b>logged in
            </b> and <b>enrolled in</b> this module.</p>
          </div>
        </article>
        <br>
        <h4 class="title is-5 has-text-black">View a Quiz</h4>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have enrolled in a module, you may can access the
                                                          quiz of this module. (See Figure 14)</p>
        <br>
        <figure>
          <img src="/images/manual/Quiz-View.png"
               alt="View the Quiz Section"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 14 - View the Quiz Section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png"
               alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> After selecting a module, select the question you would like to
                                                    answer, under the <b>Quiz</b> panel.</p>
        <p style="margin: 8px;"><strong>3.</strong>Select an answer to the question, and press
          <img src="/images/manual/Check-button.png"
               alt="Check button" style="width:95px;margin-bottom:-13px;"> the button.</p>
        <br>
        <p style="margin: 8px;">If the answer is correct, the correct answer will appear in green. (See Figure 15)</p>
        <br>
        <figure>
          <img src="/images/manual/Correct-Answer.png"
               alt="Answering correctly to a question"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 15 - Answering correctly to a question</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;">If the answer is not correct, the incorrect answer will appear in red, and the correct
                                answer will appear in green. (See Figure 16)</p>
        <figure>
          <img src="/images/manual/Incorrect-Answer.png"
               alt="Answering incorrectly to a question"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure 16 - Answering incorrectly to a question</b></figcaption>
        </figure>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <ul style="list-style-type:disc; color:black;line-height:1.75;">
              <li style="margin: 8px;">You can <b>only</b> access a lesson when you are <b>logged in </b> and <b>enrolled
                                                                                                                 in</b>
                                       this module.
              </li>
              <li style="margin: 8px;">{{title}} <b>does not</b> keep store the users' answers to the quiz's questions.
                                       {{title}} also <b>does not</b> grade its users. Users can take the quiz if they
                                       wish to, as it is part
                                       of their own independent learning process.
              </li>
            </ul>
          </div>
        </article>
        <br>
      </div>
    </div>
  </div>
</section>
