<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Ratings</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to create, edit
                                                          or delete your rating</p>
        <br>
        <h2 class="title is-5 has-text-black">Create a rating</h2>
        <p style="margin-bottom: 5px; margin-top: -10px;">After you have enrolled in a module, you may leave a rating
                                                          about your learning experience. (See Figure x)</p>
        <br>
        <figure>
          <img src="" alt="Rating section" style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><b>Figure x - Rating section</b></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png" alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in
                                                    the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select a module to review, under the <b class="has-text-black">Modules</b>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Scroll down the module page until you see <b>Ratings</b>, and select
                                                    the number of stars to give to the module</p>
        <p style="margin: 8px;"><strong>4. (optional)</strong> Write a comment in the comment section (A comment does
                                                               not need to be done to submit a review)</p>
        <p style="margin: 8px;"><strong>5.</strong> Select the button <img src="/images/manual/Save-button-2.png"
                                                                           alt="Save button for ratings"
                                                                           style="width:85px;margin-bottom:-13px;">.
                                                    This will create a new rating </p>
        <br>
        <article class="message is-danger" style="margin: 0 190px; font-size: 14px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="color:black; line-height:1.75;">
            <p style="margin: 8px; margin-bottom: 10px">You can only give one rating per module. You cannot give
                                                        multiple ratings to the same module.</p>
          </div>
        </article>
        <br>
        <h3 class="title is-5 has-text-black">Edit a rating</h3>
        <p style="margin-bottom: 5px; margin-top: -10px;">After leaving a rating, users can edit the ratings they left.
                                                          (See Figure x)</p>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png" alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in
                                                    the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select a module to review, under the <b class="has-text-black">Modules</b>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Scroll down the module page until you see your <b>Rating</b>. and
                                                    select the number of stars to give to the module</p>
        <p style="margin: 8px;"><strong>4.</strong> Select the another number of star you want to give to the module, or
                                                    modify your comment in the comment section.</p>
        <p style="margin: 8px;"><strong>5.</strong> Once you have finished modifying the rating, select the button
                                                    labelled <img src="/images/manual/Save-button-2.png"
                                                                  alt="Save button for ratings"
                                                                  style="width:85px;margin-bottom:-13px;">. This will
                                                    save any changes that have been made to the rating.</p>
        <br>
        <h4 class="title is-5 has-text-black">Delete a rating</h4>
        <p style="margin-bottom: 5px; margin-top: -10px;">After leaving a rating, users can delete the ratings they
                                                          left. (See Figure x)</p>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png" alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in
                                                    the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select a module to review, under the <b class="has-text-black">Modules</b>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> Scroll down the module page until you see <b>Ratings</b>, and select
                                                    the number of stars to give to the module</p>
        <p style="margin: 8px;"><strong>4.</strong> Select the <img src="/images/manual/Delete-button.png"
                                                                    alt="Delete button for ratings"
                                                                    style="width:85px;margin-bottom:-13px;"> button,
                                                    next to your rating. This will delete your rating of the module.</p>
        <br>
      </div>
    </div>
  </div>
</section>
