<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Search</h1>
        <p style="margin-bottom: 5px; margin-top: -10px;">In this section, you will find answers on how to search for
                                                          modules or users.</p>
        <br>
        <h2 class="title is-5 has-text-black">Search for a module</h2>
        <p style="margin-bottom: 5px; margin-top: -10px;"> {{title}} offers a variety of modules, on different topics.
                                                           To able to (See Figure 5)</p>
        <br>
        <figure>
          <img src="/images/manual/Module-Search.png"
               alt="The Module Search page"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 5 - The Module Search page</strong></figcaption>
        </figure>
        <br>
        <strong>Search:</strong>
        <p style="margin: 8px;"><strong>1.</strong> Select the <img src="/images/manual/Search-button-nav.png"
                                                                    alt="Search button in the navigation bar"
                                                                    style="width:75px;margin-bottom:-7px;"> dropdown on
                                                    the navigation bar.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select the button labelled
          <img src="/images/manual/Modules-button-nav.png"
               alt="Modules button"
               style="width:95px;margin-bottom:-13px;">
                                                    in the Search dropdown menu.</p>
        <p style="margin: 8px;"><strong>3.</strong>To search for a module, type in the search term in the search bar.
                                                   The term can be any combination of words which will appear in the
                                                   module title. Then click on the
          <img src="/images/manual/Search-button.png" alt="Search button" style="width:95px;margin-bottom:-13px;">
                                                   button on
                                                   the right of the bar.</p>
        <p style="margin: 8px;"><strong>4.</strong>If your term has been matched, you will see boxes appear in the
                                                   middle section of the page containing the module name, a brief
                                                   description of the module, and the module's
                                                   average rating. If you click on any of these boxes, you will be taken
                                                   to the module page for that specific
                                                   module.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="line-height:1.75;">
            <ul style="list-style-type:disc;line-height:1.75;">
              <li style="margin: 8px;">You can search for modules when you are logged in,logged out or have not
                                       registered yet.
              </li>
              <li style="margin: 8px;">To have search for modules in a more efficient manner, you may select the
                                       following filters: <strong>Date</strong> <em>(updated, created, module which are
                                                                                    1 week old, 1 month old, 6 months
                                                                                    old, 1
                                                                                    year old, 5 years old, or older than
                                                                                    5 years)</em>,
                <strong>Rating</strong> <em>(modules which are 1 star, 2 stars, 3
                                            stars, 4 stars or 5 stars)</em> or <strong>Subject</strong> <em>(select the
                                                                                                            subject of
                                                                                                            the modules
                                                                                                            you are
                                                                                                            looking
                                                                                                            for)</em>.
              </li>
              <li style="margin: 8px;">You can remove <strong>all</strong> filters by pressing the
                <img src="/images/manual/Reset-button.png"
                     alt="Reset button" style="width:95px;margin-bottom:-10px;"> button.
              </li>
            </ul>
          </div>
        </article>
        <br>
        <strong>Enroll:</strong>
        <br>
        <p style="margin-bottom: 5px; margin-top: 10px;"> Users can enroll in any modules of their choice. (See Figure
                                                          6)</p>
        <br>
        <figure>
          <img src="/images/manual/Module-Enrollment.png"
               alt="Module's enrollment"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 6 - Module's enrollment</strong></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Search-button-nav.png"
               alt="Search button in the navigation bar" style="width:75px;margin-bottom:-7px;"> in the navigation bar,
                                                    at
                                                    the top of the website's page.</p>
        <p style="margin: 8px;"><strong>2.</strong> After searching for a module you would like to enroll in, select
                                                    the module you would like to enroll in.</p>
        <p style="margin: 8px;"><strong>3.</strong> On the module's page, select the
          <img src="/images/manual/Enroll-button.png"
               alt="Enroll button" style="width:95px;margin-bottom:-12px;">button. This will enroll you in the module
                                                    you
                                                    chose.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="line-height:1.75;">
            <p style="margin: 8px;">You <strong>must</strong> be logged in to be able to enroll in a module. </p>
          </div>
        </article>
        <br>
        <strong>Unenroll:</strong>
        <br>
        <p style="margin-bottom: 5px; margin-top: 10px;"> Users can unenroll from any modules using these two methods.
                                                          (See Figure 7)</p>
        <br>
        <figure>
          <img src="/images/manual/Module-Unenrollment.png"
               alt="Module's unenrollment"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 7 - Module's unenrollment</strong></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Search-button-nav.png"
               alt="Search button in the navigation bar" style="width:75px;margin-bottom:-7px;"> in the navigation bar,
                                                    at
                                                    the top of the website's page.</p>
        <p style="margin: 8px;"><strong>2.</strong> After searching for the module you would like to unenroll from,
                                                    select the module in the searhc result.</p>
        <p style="margin: 8px;"><strong>3.</strong> On the module's page, select the
          <img src="/images/manual/Unenroll-button.png"
               alt="Enroll button" style="width:95px;margin-bottom:-12px;">button. This will unenroll you from the
                                                    module
                                                    you chose.</p>
        <br>
        <strong>Or</strong>
        <p style="margin: 8px;"><strong>1.</strong> After logging in, select the button labelled
          <img src="/images/manual/Enrollments-button.png"
               alt="Enrollments button" style="width:130px;margin-bottom:-7px;"> in the middle of the Homepage.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select a module to unenroll from, under the
          <b class="has-text-black">Modules</strong>
                                                    panel.</p>
        <p style="margin: 8px;"><strong>3.</strong> On the module's page, select the
          <img src="/images/manual/Unenroll-button.png"
               alt="Enroll button" style="width:95px;margin-bottom:-12px;">button. This will unenroll you from the
                                                    module
                                                    you chose.</p>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="line-height:1.75;">
            <p style="margin: 8px;">You <strong>must</strong> be logged in to be able to unenroll from a module. </p>
          </div>
        </article>
        <br>
        <h3 class="title is-5 has-text-black">Search for a user</h3>
        <p style="margin-bottom: 5px; margin-top: -10px;"> {{title}} gives the possibility to its users to be able to
                                                           look for other users. (See Figure 8)</p>
        <br>
        <figure>
          <img src="/images/manual/User-Search.png"
               alt="The User Search page"
               style="width:80%; display: block; margin-left: auto; margin-right: auto;">
          <br>
          <figcaption class="has-text-centered"><strong>Figure 8 - The User Search page</strong></figcaption>
        </figure>
        <br>
        <p style="margin: 8px;"><strong>1.</strong> Select the <img src="/images/manual/Search-button-nav.png"
                                                                    alt="Search button in the navigation bar"
                                                                    style="width:75px;margin-bottom:-7px;"> dropdown on
                                                    the navigation bar.</p>
        <p style="margin: 8px;"><strong>2.</strong> Select the button labelled
          <img src="/images/manual/Users-button-nav.png"
               alt="Users button"
               style="width:95px;margin-bottom:-13px;">
                                                    in the Search dropdown menu.</p>
        <p style="margin: 8px;"><strong>3.</strong>To search for a user, type in the <strong>surname</strong> or the <strong>email
                                                                                                              address</strong>
                                                   of the user you are looking for in the search bar. Then click on the
          <img src="/images/manual/Search-button.png" alt="Search button" style="width:95px;margin-bottom:-13px;">
                                                   button on
                                                   the right of the bar.</p>
        <p style="margin: 8px;"><strong>4.</strong>Your search result should show a user or users being displayed in
                                                   boxes. If you click on any of these boxes, you will be taken to the
                                                   user's personal page.</p>
        <br>
        <br>
        <article class="message is-warning" style="margin: 0 auto; font-size: 14px; max-width: 650px;">
          <div class="message-header">
            <p>Note:</p>
          </div>
          <div class="message-body" style="line-height:1.75;">
            <ul style="list-style-type:disc;line-height:1.75;">
              <li style="margin: 8px;">You can search for users when you are logged in, logged out or have not
                                       registered yet.
              </li>
              <li style="margin: 8px;">You can <strong>only</strong> search for the last name or email address of the user you
                                       are looking for.
              </li>
            </ul>
          </div>
        </article>
        <br>
      </div>
    </div>
  </div>
</section>
