<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Search</h1>
        <h2 class="title is-5 has-text-black">Search for a module</h2>
        <h3 class="title is-5 has-text-black">Search for a user</h3>
        <br>
      </div>
    </div>
  </div>
</section>
