<section style="padding: 100px 10vw 0;">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-2 has-text-black" style="margin-top: -60px;">Troubleshooting</h1>
        <p style="margin-bottom: 5px;">Find answers to our most popular enquiries. If you don't find an answer, please
                                       check our <a href="/user/help">other sections</a> or <a href="/about">contact
                                                                                                             us</a> !
        </p>
        <br>
        <h2 class="title is-5 has-text-black">The system keeps rejecting my credentials to log in</h2>
        <p style="margin-top: -12px; margin-bottom: 8px;">There are three possible reasons that this problem could be
                                                          occurring:</p>
        <ol>
          <li style="margin: 5px;">You have not registered yet. Make sure to fill in the Register form and then select
                                   the ‘Submit’ button.
          </li>
          <li style="margin: 5px;">Your email is incorrect</li>
          <li style="margin: 5px 5px 10px;">Your password is incorrect</li>
        </ol>
        <br>
        <h3 class="title is-5 has-text-black">I cannot access a lesson or a quiz of a module</h3>
        <p style="margin-top: -12px; margin-bottom: 8px;">There are two possible reasons that this problem could be
                                                          occurring:</p>
        <ol>
          <li style="margin: 5px;">You are not logged in</li>
          <li style="margin: 5px 5px 10px;">You have not enrolled in the module yet. Enroll in the module to
                                            be able to access its content.
          </li>
        </ol>
        <br>
        <h4 class="title is-5 has-text-black">I cannot create a lesson or a quiz</h4>
        <p style="margin-top: -12px; margin-bottom: 8px;">The reason why this problem could be occurring is because you
                                                          have not created a module yet. You must ensure that:</p>
        <ol>
          <li style="margin: 5px;">You have created a module first</li>
          <li style="margin: 5px;">You create a lesson or a quiz</li>
          <li style="margin: 5px 5px 10px;">You save your changes</li>
        </ol>
        <br>
        <h5 class="title is-5 has-text-black">I see the error page when I select the ‘Enrollments’ button on my
                                              Homepage</h5>
        <p style="margin-top: -12px; margin-bottom: 8px;">The reason why this problem could be occurring is because you
                                                          are not enrolled in any modules yet. You can enroll in modules
                                                          by looking at the ‘Search’ topic inside of the Guide.</p>
        <br>
        <h6 class="title is-5 has-text-black">I cannot leave a rating</h6>
        <p style="margin-top: -12px; margin-bottom: 8px;">There are three possible reasons that this problem could be
                                                          occurring:</p>
        <ol>
          <li style="margin: 5px;">You are not logged in</li>
          <li style="margin: 5px;">You are not enrolled in the module</li>
          <li style="margin: 5px 5px 30px;">You cannot rate your own module</li>
        </ol>
        <br>
      </div>
    </div>
  </div>
</section>
